
<%= form_for(@hash_create, :as => :create, :url => hashtags_path,  remote: true)  do |f| %>

				<div class="input-prepend input-append">
				<span class="add-on swag">#</span>
				<%= f.text_field :hashtag ,class: "span4 swag_text_field", onkeypress: "return isNumberKey(event)", id:"appendedPrependedInput", data: {autocomplete_source: autocomplete_index_path} %>

				<%= f.submit "VS!", class: "btn add-on-right swag_button" %>
				<% end %>


				<!-- onkeypress: "return isNumberKey(event)",  -->