

<div class="row">
	<div class="span2 vote-history">
		<div class="vote-history-title"></div>
			<div class="tag-history">
				<%= render 'shared/tag_history' %>
		</div>
	</div>
	<div class="span6 votes-middle">
	<%= render 'shared/twitter_search' %>
	</div>
	<div class="row">
		<div class="span6">
			<div class="votes-in">
				<div class="starter-container"><div class="starter-container-text"></div></div>
			</div>
		</div>
	</div>
	</div>
		<div class="span4 leaderboard-history">
		<div class="leaderboard-history-title"></div>
			<div class="leaderboard-tag-history">
				<%= render 'shared/leaderboard' %>
		</div>

	</div>
		<div class="span3 offset9 addthis">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_preferred_5"></a>
<a class="addthis_button_preferred_6"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e2892b82d171fc4"></script>
<!-- AddThis Button END -->
</div>
</div>

<div class="row">
	<div class="span12">
			<%= render 'shared/trends' %>
	</div>
</div>