
  <div class="row">
      <div class="span12">
		<%= render 'shared/twitter_search' %>
		</div>
      </div>
</div>

	<div class="row">
<div class="span9">
	<div class="votes-in">
	        </div>
        </div>
</div>