<div class="row">
	<div class="span2 vote-history">
		<div class="vote-history-title"></div>
			<div class="tag-history">
				<%= render 'shared/tag_history' %>
		</div>
	</div>
	<div class="span6 votes-middle">
	<%= render 'shared/twitter_search' %>
	</div>
	<div class="row">
		<div class="span6">
			<div class="votes-in">
			</div>
		</div>
	</div>
	</div>
		<div class="span4 leaderboard-history">
		<div class="leaderboard-history-title"></div>
			<div class="leaderboard-tag-history">
				<%= render 'shared/leaderboard' %>
		</div>
	</div>
	</div>
