
  <div class="row">
      <div class="span8 offset2">
		<%= render 'shared/twitter_search' %>
		</div>
      </div>
</div>

	<div class="row">
<div class="span9 offset1 ">
	<div class="votes-in">

	        </div>
        </div>
</div>