
  <div class="row">
      <div class="span8 offset2">
		<%= render 'shared/twitter_search' %>
		</div>
      </div>
     <!--  <div class="span2">
      Most Tweeted Stuff Here
	</div> -->
</div>
<div class="row">
<div class="span9 offset1">
					<%= render 'shared/vote_tweets' %>
        </div>
</div>
