<div class="users-container">  <div class="users-container-title"><h1>Special thanks to</h1></div>
<div class="row">
	<div class= "span6 users-container-content">
All the folks on #rubyonrail that deal with some dumb and some great learning questions</br></br>
As well as all the people who helped on Stackoverflow, they were great.</br></br>
And YOU who made me prove that scott * 5 was great <strong>scottscottscottscott</strong>
	</div>
</div>
</div>