<div class="site-stats"><div class="site-stats-container"><span class="site-stats-text">There have been 0 tweets entered to play, over 0 winners, and BLANK losers.  The most common entered hashtag is #test with over 0 searches.</span></div></div>
<footer class="footer">
  <small>
<a href="http://github.com/thebusines11/tweetvstweet/" target="_blank" class="ribbon title="Fork me on GitHub!"></a> </small>
  <nav>
  	<ul>
  	<%= link_to "Shout out!", thanks_path %>
  </ul>
  </nav>
<div>
		
</div>
</footer>