<div class="footer-stats"><%= render 'shared/stats' %></div>
<footer class="footer">
  <small>
<a href="http://github.com/thebusiness11/tweetvstweet/" target="_blank" class="ribbon" title="Fork me on GitHub!"></a>
 </small>
  <nav>
  	<ul>
  	<a href="<%= thanks_path %>" target="_blank" class="thanks" title="Special Thanks!"></a>

  </ul>
  </nav>
<div>
		
</div>
</footer>