<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class= "nav">
      <li><a href="./" class="logo" title="tweetvstweet"></a></li>
    </ul>
        <nav>
        <ul class="nav pull-right">
       
          <% if can? :access, :rails_admin %>
          <li><%= link_to 'Admin', rails_admin_path %></li>
          <% end %>

         <% if user_signed_in? %>
         <li><%= link_to 'Settings', edit_user_registration_path %></li>
         <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
         <% else %>
<li><a href="./users/auth/twitter" class="twitter-sign-in" title="Sign in with Twitter"></a></li>
         <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>